# Disable LiteSpeed cache
<IfModule LiteSpeed>
CacheLookup off
</IfModule>
<IfModule mod_headers.c>
Header set Cache-Control "no-cache, no-store, must-revalidate"
</IfModule>

# Enable RewriteEngine
RewriteEngine On

# Set the base for rewrites
RewriteBase /panel/

# If the requested file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, redirect all requests to index.html for SPA routing
RewriteRule ^ index.html [L]
