RewriteEngine On
RewriteBase /t/

# If the request is not for an existing file or directory, route to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.html [L]
